.obsidian/
!.obsidian/app.json
!.obsidian/appearance.json
!.obsidian/config
!.obsidian/community-plugins.json
!.obsidian/core-plugins.json
!.obsidian/graph.json
!.obsidian/hotkeys.json
.devdocs
Inbox
Templates
Utility
Z
Journal
*.sty
*.css
.obsidian.vimrc
.otv_metadata
.DS_Store
MEDIA
